*{
    box-sizing: border-box;
}

body{
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #272727;
}

a{
    text-decoration: none;
    color: inherit;
}

.header {
    background-image: url(../images/header-bg.jpg);
    min-height: 793px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.menu__list{
    display: flex;

}

.menu__list li + li{
    margin-left: 50px;
}

.menu__list a{
    opacity: 0.5;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.4s;
}

.menu__list a:hover{
    opacity: 1;
}

.login {
    margin-right: 44px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}

.sign-up {
    color: #250F8A;
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px 43px;
    background-color: #fff;
    border-radius: 20px;
}

.header-slider {
    margin-top: 111px;
}

.header-slider__item-content {
    display: flex;
    justify-content: space-between;
}

.header-slider__item-info {
    color: #fff;
    max-width: 506px;
}

.header-slider__title {
    font-size: 45px;
    line-height: 60px;
    font-weight: 700;
    margin-bottom: 10px;
}

.header-slider__description {
    font-size: 24px;
    line-height: 55px;
    margin-bottom: 60px;
}

.header-slider__btn {
    color: #250F8A;
    font-weight: 600;
    text-transform: uppercase;
    padding: 13px 39px;
    background: #FFCA00;
    border-radius: 25px;
    outline-style: none;
}

.header-slider__item-images {
    margin-top: 10px;
    margin-right: 82px;
}

.header-dots{
    list-style: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-80%);
    width: 15px;
}

.header-dots button{
    border: none;
    background-color: #fff;
    opacity: 0.5;
    font-size: 0;
    padding: 0;
    width: 7px;
    height: 7px;
    border-radius: 3.5px;
    cursor: pointer;
    outline-style: none;
    margin: 10px auto;
    display: block;
}

.header-dots .slick-active button{
    width: 15px;
    opacity: 1;
    transition: 0.4s;
}

.specialize {
    padding: 55px 0 93px;
    background-image: url(../images/specialize-bg.svg);
    background-position: left bottom;
    background-repeat: no-repeat;
    color: #202020;
    text-align: center;
}

.specialize__title {
    margin-bottom: 96px;
}

.title {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    text-align: center;
}

.specialize__items {
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
}

.specialize__item {
    width: 280px;
}

.specialize__image {
    margin-bottom: 23px;
    height: 159px;
}

.specialize__item-title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 11px;
}

.specialize__item-text {
    opacity: 0.7;
    padding: 0 10px;
}

.advantages {
    padding-top: 64px;
    background: #F4F9FD;
    background-image: url(../images/advantages-bg.svg);
    background-position: center right;
    background-repeat: no-repeat;
}

.advantages-box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 76px;
}
.advantages-box__info {
    width: 455px;
    padding-top: 61px;
    background-image: url(../images/title-bg1.svg);
    background-repeat: no-repeat;
    background-position: 20px 73px;
}
.advantages-box__title {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: #202020;
    padding: 68px 0 15px 48px;
}
.advantages-box__text {
    padding-left: 48px;
    width: 468px;
}

.advantages-box__text p{
    margin-top: 24px;
}

.advantages-box__images {
    min-width: 517px;
}

.advantages-box--right .advantages-box__info{
    order: 1;
    background-image: url(../images/title-bg2.svg);
    background-position: 23px 140px;
}

.advantages-box__info--bg{
    background-image: url(../images/title-bg3.svg);
    background-position: 6px 107px;
}

.reviews {
    padding: 38px 0 82px;
    background-image: url(../images/reviews-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.reviews__items-title{
    color: #fff;
    margin: 0 auto 48px;
    max-width: 384px;
}

.reviews__items {
    display: flex;
    justify-content: space-between;
    max-width: 940px;
    margin: 0 auto;
}

.reviews__item {
    width: 300px;
    background-color: rgba(255,255,255,.2);
    border-radius: 5px;
    padding: 35px 20px;
    color: #fff;
}

.reviews__item-head {
    display: flex;
    margin-bottom: 13px;
}

.reviews__item-head img{
    border-radius: 50%;
    margin-right: 20px;
}

.reviews__item-name {
    font-weight: 600;
}

.reviews__item-position {
    opacity: 0.5;
}

.reviews__item-text {
    text-align: center;
    padding-top: 39px;
    position: relative;
}

.reviews__item-text::before{
    content: "“";
    font-size: 40px;
    line-height: 55px;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 61px;
    padding: 0 30px;
}

.footer__links a+a{
    margin-left: 25px;
}